{% extends 'base.html.twig' %}

{% block title %}Liste de toute les categories !{% endblock %}

{% block body %}
    <div class="ul-category">
    <ul>
        {% for categorieCount in categories %}
            <li class="categorie"><a href="{{ path('app_category_show', {id : categorieCount.category.id}) }}">{{ categorieCount.category.name }}</a>
                <span class="badge bg-secondary">Nombre de contact : {{ categorieCount.count }}</span>
            </li>
        {% endfor %}
    </ul>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="button-deco"><a class="btn btn-danger" href="{{ logout_url(key = null) }}" role="button">Deconnexion  {{ app.user.firstname ?? '' }}</a></div>
    {% endif %}
    </div>
{% endblock %}
