<ul>
    {% for contact in contacts %}
        <li class="contacts"><a href="{{ path('app_contact_show', {id : contact.id}) }}"><span class="lastname">{{ contact.lastname }}</span>, <span class="firstname">{{ contact.firstname }}</span></a>
                {% if show_category??true %}
                        {% if contact.category is null %}
                                <span class="badge rounded-pill text-bg-warning">Pas de catégorie</span>
                        {% else %}
                                <a href="{{ path('app_category_show', {id : contact.category.id}) }}"><span class="badge rounded-pill text-bg-info">{{ contact.category.name }}</span></a>
                        {% endif %}
                {% endif %}
        </li>
    {% endfor %}
</ul>