<ul>
    {% for contact in contacts %}
        <li class="contacts"><a href="{{ path('app_contact_show', {id : contact.id}) }}"><span class="lastname">{{ contact.lastname }}</span>, <span class="firstname">{{ contact.firstname }}</span>
            </a>
                {% if show_category??true %}
                        {% if contact.category is null %}
                                <span class="badge rounded-pill text-bg-warning">Pas de catégorie</span>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_contact_update', {id : contact.id}) }}"><span class="material-symbols-outlined">edit</span></a>
                                <a href="{{ path('app_contact_delete', {id: contact.id}) }}"><span class="material-symbols-outlined">delete</span></a>
                            {% endif %}
                        {% else %}
                                <a href="{{ path('app_category_show', {id : contact.category.id}) }}"><span class="badge rounded-pill text-bg-info">{{ contact.category.name }}</span></a>
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path('app_contact_update', {id : contact.id}) }}"><span class="material-symbols-outlined">edit</span></a>
                                <a href="{{ path('app_contact_delete', {id: contact.id}) }}"><span class="material-symbols-outlined">delete</span></a>
                            {% endif %}
                        {% endif %}
                {% endif %}
        </li>
    {% endfor %}
</ul>