{% extends 'base.html.twig' %}

{% block title %}Suppression de {{ "#{contact.lastname}, #{contact.firstname}" }}{% endblock %}

{% block body %}
    <h1>Suppression de {{ "#{contact.lastname}, #{contact.firstname}" }}</h1>

    {{ form_start(form, {'attr': {'class': 'd-flex justify-content-evenly'}}) }}
    {{ form_row(form.delete, {'label': 'Supression', 'attr': {'class': 'p-2 btn btn-danger '}}) }}
    {{ form_row(form.cancel, {'label': 'Annuler', 'attr': {'class': 'p-2 btn btn-secondary '}}) }}
    {{ form_end(form) }}

{% endblock %}

