{% extends 'base.html.twig' %}

{% block title %}Données de {{ contactId.lastname }}{% endblock %}

{% block body %}
    <h1>Données de {{ contactId.lastname }}, {{ contactId.firstname }}</h1>

    <dl>
        <dt>Nom :</dt>
        <dd>{{ contactId.lastname }}</dd>
        <dt>Prenom :</dt>
        <dd>{{ contactId.firstname }}</dd>
        <dt>E-Mail :</dt>
        <dd>{{ contactId.email }}</dd>
    </dl>
{% endblock %}



